<footer role="contentinfo">
    <div class="footer-content">
        <ul class="contact">
            <li class="contact-item">
                <a href="http://twitter.com/AaronRickard_" target="_blank" rel="noopener" class="contact-item-link logo-twitter">Aaron Rickard on Twitter</a>
            </li>
            <li class="contact-item">
                <a href="/feed.xml" target="_blank" class="contact-item-link logo-rss">Subscribe to RSS feed</a>
            </li>
            <li class="contact-item">
                <a href="mailto:" class="contact-item-link logo-email">Email Aaron Rickard</a>
            </li>
        </ul>
    </div>
</footer>